@font-face {
    font-family: netflix;
    src: url('/clone/assets/NetflixSans-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'netflix', sans-serif;

}

body {
    background: #000;
}
.bold{
    font-weight: 700;
}
.port {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    background: #B75A48;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
}
.port a{
    text-decoration: none;
    color: #E8ECD6;
}

.main {
    background-image: url('/assets/background-image.jpg');
    width: 100%;
    height: 100vh;
    position: relative;
    /* object-fit: cover; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.op {
    width: 100%;
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

nav {
    /* background: red; */
    width: 80vw;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

}

.logo {
    position: relative;
    width: 150px;
    box-sizing: border-box;
}

.but button {
    margin: 5px;
}

.but :nth-child(1) {
    width: 100px;
    height: 30px;
    border: 0.1px solid white;
    background: #000;
    /* opacity: 0.1; */
    color: white;
    border-radius: 5px;

}

.but :nth-child(2) {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    /* border: 0.1px solid white; */
    background: red;
    /* opacity: 0.1; */
    color: white;
    font-weight: 700;

}

.hero {
    position: relative;
    top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    /* margin: 50px; */
}

.Unlimited {
    position: relative;
    z-index: 1;
    width: 700px;
    font-size: 4vw;
    font-weight: 900;
    color: white;
    text-align: center;
    line-height: 70px;
    padding: 1px;

}

.starts {
    color: white;
    font-size: 1.5vw;
    font-weight: 700;
    padding: 1vw;
}

.ready {
    margin-top: 30px;

    color: white;
}

.sub {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub input {
    width: 400px;
    height: 50px;
    border: 0.1px solid white;
    background: #000;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    text-align: left;
    margin: 5px;
}

.sub button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    background: red;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 20px 5px 20px;
    font-weight: 700;
}

.sub button img {
    width: 35px;
}

.seperation {
    width: 100%;
    height: 10px;
    background: grey;
}

.aft {
    width: 90vw;
    /* height: 100vh; */
    /* background: red; */
    margin: 50px auto 0px auto;
}

.sub-heading span {
    font-size: 2vw;
    color: white;
    font-weight: 500;
}

.boxtrend {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.box-trend {
    margin: 10px;
    height: 250px;
    width: 200px;
    background: #a47c7c;
    border-radius: 9px;
    color: black;
    font-size: 5vw;
    font-weight: 700;
    text-align: left;
    align-content: end;
    -webkit-text-stroke: 2px white;
}

.more {
    margin-top: 50px;
}

.box-join {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.box-joins {
    margin: 10px;
    height: 275px;
    width: 300px;
    background: linear-gradient(120deg, #292e58, #360313);
    border-radius: 9px;
    color: black;
}

.box-joins .hed {
    padding: 20px;
    color: white;
    font-size: 1.4em;
    font-weight: 600;
}

.box-joins p {
    color: white;
    padding: 10px 15px;

}

.q {
    margin: 50px auto 10px auto;
}

.questions {
    display: flex;
    flex-direction: column;
    margin-top: 10px auto 0px auto;
    align-items: center;
    justify-content: center;
    margin: 50px auto 10px auto;
}

.question {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    align-items: center;
    width: 80vw;
    height: 10vh;
    background: rgba(78, 78, 78, 0.697);
    margin: 5px;
    font-size: 1.5vw;
    color: white;
}

.question img {
    width: 40px;

}

.finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    color: #B75A48;
    background: #E8ECD6;
}